
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Firewall</title>
    <style>
    .form-control{
     background-color:crimson;
    }
    </style>
</head>

<body>
    <form action="" method="post" >
        {% csrf_token %}
        <table>
            <tr>
                <!--post_data显示post提交的数据-->
                <td><h4>GE电口:</h4></td> <td><h4>{{ pd.rj45 }}   {{post_data.rj45}} </h4></td>
                <td><h4>GE光口:</h4></td> <td><h4>{{ pd.ge_sfp }} {{post_data.ge_sfp}}  </h4> </td>
                <td><h4>万兆电口:</h4></td> <td><h4>{{ pd.g10c }}   {{post_data.g10c}}  </h4></td>
                <td><h4>万兆光口:</h4></td> <td><h4>{{ pd.sfpp }}   {{post_data.sfpp}}  </h4></td>
                <td><h4>40G口:</h4></td> <td><h4>{{ pd.qsfpp }}  {{post_data.qsfpp}}  </h4></td>
            </tr>
            <tr>

                <td><h4>100G口:</h4></td> <td><h4>{{ pd.cfp }}   {{post_data.cfp}}  </h4></td>
                <td><h4>板卡插槽数量:</h4></td> <td><h4>{{ pd.slot }} {{post_data.slot}}  </h4></td>
                <td><h4>防火墙性能/G:</h4></td> <td><h4>{{ pd.thp }}  {{post_data.thp}}  </h4></td>
                <td><h4>并发会话数量/M:</h4></td> <td><h4>{{ pd.ccs }}   {{post_data.ccs}}  </h4></td>
                <td><h4>每秒新建会话:</h4></td> <td><h4>{{ pd.nss }} {{post_data.nss}}  </h4></td>
            </tr>
        </table>
        <input type="submit" value="查询" >
    </form>

    {% if  pd and post_data %}
    <table border="1" cellpadding="6" cellspacing="0" width="100%" bordercolor="#ADADAD">

        <tr valign="top" align="middle">
            <th><p class="TableParagraph" style="margin-top:2.85pt;margin-right:0in;margin-bottom:
0in;margin-left:2.95pt;margin-bottom:.0001pt"><b><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">序号</span></b></p> </th>
            <th><p class="TableParagraph" style="margin-top:2.85pt;margin-right:0in;margin-bottom:
0in;margin-left:2.95pt;margin-bottom:.0001pt"><b><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">厂商</span></b></p> </th>
            <th><p class="TableParagraph" style="margin-top:2.85pt;margin-right:0in;margin-bottom:
0in;margin-left:2.95pt;margin-bottom:.0001pt"><b><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">产品型号</span></b></p> </th>
            <th><p class="TableParagraph" style="margin-top:2.85pt;margin-right:0in;margin-bottom:
0in;margin-left:2.95pt;margin-bottom:.0001pt"><b><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">性能/Gbps</span></b></p> </th>
            <th><p class="TableParagraph" style="margin-top:2.85pt;margin-right:0in;margin-bottom:
0in;margin-left:2.95pt;margin-bottom:.0001pt"><b><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">最大并发会话/百万</span></b></p> </th>
            <th><p class="TableParagraph" style="margin-top:2.85pt;margin-right:0in;margin-bottom:
0in;margin-left:2.95pt;margin-bottom:.0001pt"><b><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">每秒新建会话</span></b></p> </th>
            <th><p class="TableParagraph" style="margin-top:2.85pt;margin-right:0in;margin-bottom:
0in;margin-left:2.95pt;margin-bottom:.0001pt"><b><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">千兆电口</span></b></p> </th>
            <th><p class="TableParagraph" style="margin-top:2.85pt;margin-right:0in;margin-bottom:
0in;margin-left:2.95pt;margin-bottom:.0001pt"><b><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">千兆光口</span></b></p> </th>
            <th><p class="TableParagraph" style="margin-top:2.85pt;margin-right:0in;margin-bottom:
0in;margin-left:2.95pt;margin-bottom:.0001pt"><b><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">万兆电口</span></b></p> </th>
            <th><p class="TableParagraph" style="margin-top:2.85pt;margin-right:0in;margin-bottom:
0in;margin-left:2.95pt;margin-bottom:.0001pt"><b><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">万兆光口</span></b></p> </th>
            <th><p class="TableParagraph" style="margin-top:2.85pt;margin-right:0in;margin-bottom:
0in;margin-left:2.95pt;margin-bottom:.0001pt"><b><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">40G口</span></b></p> </th>
            <th><p class="TableParagraph" style="margin-top:2.85pt;margin-right:0in;margin-bottom:
0in;margin-left:2.95pt;margin-bottom:.0001pt"><b><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">100G口</span></b></p> </th>
            <th><p class="TableParagraph" style="margin-top:2.85pt;margin-right:0in;margin-bottom:
0in;margin-left:2.95pt;margin-bottom:.0001pt"><b><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">备注</span></b></p> </th>
        </tr>

            {% for fw in pd %}
            <tr>
            <td> <p class="TableParagraph" style="margin-top:2.85pt;margin-right:0in;margin-bottom:
0in;margin-left:2.85pt;margin-bottom:.0001pt"><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">{{ forloop.counter }}</span></p> </td>
            <td><p class="TableParagraph" style="margin-top:2.85pt;margin-right:0in;margin-bottom:
0in;margin-left:2.85pt;margin-bottom:.0001pt"><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">{{ fw.2}}</span></p> </td>
            <td><p class="TableParagraph" style="margin-top:2.85pt;margin-right:0in;margin-bottom:
0in;margin-left:2.85pt;margin-bottom:.0001pt"><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;"><a href={{fw.1}}>{{ fw.3 }}</a></span></p> </td>
            <td><p class="TableParagraph" style="margin-top:2.85pt;margin-right:0in;margin-bottom:
0in;margin-left:2.85pt;margin-bottom:.0001pt"><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">{{ fw.4}}</span></p> </td>
            <td><p class="TableParagraph" style="margin-top:2.85pt;margin-right:0in;margin-bottom:
0in;margin-left:2.85pt;margin-bottom:.0001pt"><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">{{ fw.5}}</span></p> </td>
            <td><p class="TableParagraph" style="margin-top:2.85pt;margin-right:0in;margin-bottom:
0in;margin-left:2.85pt;margin-bottom:.0001pt"><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">{{ fw.6}}</span></p> </td>
            <td><p class="TableParagraph" style="margin-top:2.85pt;margin-right:0in;margin-bottom:
0in;margin-left:2.85pt;margin-bottom:.0001pt"><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">{{ fw.7 }}</span></p> </td>
            <td><p class="TableParagraph" style="margin-top:2.85pt;margin-right:0in;margin-bottom:
0in;margin-left:2.85pt;margin-bottom:.0001pt"><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">{{ fw.8 }}</span></p> </td>
            <td><p class="TableParagraph" style="margin-top:2.85pt;margin-right:0in;margin-bottom:
0in;margin-left:2.85pt;margin-bottom:.0001pt"><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">{{ fw.9 }}</span></p> </td>
            <td><p class="TableParagraph" style="margin-top:2.85pt;margin-right:0in;margin-bottom:
0in;margin-left:2.85pt;margin-bottom:.0001pt"><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">{{ fw.10 }}</span></p> </td>
            <td><p class="TableParagraph" style="margin-top:2.85pt;margin-right:0in;margin-bottom:
0in;margin-left:2.85pt;margin-bottom:.0001pt"><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">{{ fw.11 }}</span></p> </td>
            <td><p class="TableParagraph" style="margin-top:2.85pt;margin-right:0in;margin-bottom:
0in;margin-left:2.85pt;margin-bottom:.0001pt"><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">{{ fw.12 }}</span></p> </td>
            <td><p class="TableParagraph" style="margin-top:2.85pt;margin-right:0in;margin-bottom:
0in;margin-left:2.85pt;margin-bottom:.0001pt"><span style="font-size:10.0pt;
font-family:&quot;Arial&quot;,&quot;sans-serif&quot;">{{ fw.18}}</span></p> </td>
            </tr>
            {% endfor %}
    </table>
    {% elif pd %}
        <p>没有找到符合条件的产品.</p>
    {% endif %}
</body>
</html>